# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# config files
*.toml

# emacs temp file suffixes
*~
.#*
\#*#

# eclipse setting
.settings

# MacOS directory files
.DS_Store

# VS Code Settings
.vscode/

# Clion Settings
*.idea/

# Clion build directory
*cmake-build-debug

*.tmp

# Clangd Cache

.cache/

# SquareLine Studio

squareline_ui_project/autosave
squareline_ui_project/backup
squareline_ui_project/cache
squareline_ui_project/assets/**/*bin
squareline_ui_project/assets/**/*fcfg
squareline_ui_project/assets/**/*c

main/ui/components/

# ignore project file
sdkconfig
sdkconfig.old
dependencies.lock
build